metadata:
  namespace: wfo-dev-duck-dev-w2
  releaseName: c39-capstone-fe
  releaseVersion: 1.0.0
  target: duck-dev-w2
  iamRole: null
replicaCount: 1
nodeLabel: agent
image:
  repository: registry.gitlab.com/tmobile/workforce-transformation/onboarding-bootcamps/cohort-39/capstone/rto-flex-schedule-fe/pipeline-deploy
  pullPolicy: Always
  pullSecrets:
    - name: c39-chase-miller
container:
  multiPorts:
    - name: admin
      containerPort: 80
      protocol: TCP
  healthcheck:
    path: /
    scheme: HTTP
    portName: admin
resources:
  requests:
    cpu: 0.1
    memory: 16Mi
  limits:
    cpu: 0.2
    memory: 256Mi
variables: null
volumeMaps: null
persistentVolumeClaims: null
secrets: null
secretMaps: null
configMaps: null
envFrom:
  configMaps: []
  secrets: []
ingress:
  enabled: true
  ingressType: HTTP
  applicationType: internal
  serviceEndpoint: c39-capstone-fe.duck-dev-w2.kube.t-mobile.com
  multiPaths:
    - path: /
      portName: admin
tls:
  enabled: true
autoscale:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  cpuAverageUtilization: 50
telemetry:
  enabled: false
  path: /prometheus
  port: "8080"
  scheme: HTTP
global:
  ttl: 1d
  expiresAt: ""
annotations:
  deployment:
    swaggerUri: ""
openTelemetry:
  enabled: false
  exporterOtlpEndpoint: ""
  resourceAttributes: ""
